<div class="card text-center mb-3">
  <div class="card-body">
    <h2 class="card-title">Upload / Scan Food Label</h2>

    <input type="file" accept="image/*" capture="environment" (change)="onFile($event)" />

    <div *ngIf="previewUrl">
      <p>Preview:</p>
      <img [src]="previewUrl" alt="preview" width="250" />
    </div>

     <button (click)="detectAndSave()" [disabled]="!selectedFile || loading" >
       {{ loading ? "Processing..." : "Detect & Save" }}
     </button>

     <div *ngIf="detectedIngredient">
       <p><strong>Detected:</strong> {{ detectedIngredient }}</p>
     </div>

      <div *ngIf="error">
       <p><strong>Error:</strong> {{ error }}</p>
     </div>
 </div>
</div>
 
<div class="card text-center mb-3">
  <div class="card-body">
    <hr />

    <h3>My Fridge Ingredients</h3>

    <div class="mb-2">
      <input
        type="text"
        placeholder="Search ingredient..."
        [(ngModel)]="search"
        (input)="loadFridge()"
      />
    </div>

    <div class="mb-2">
      <select [(ngModel)]="selectedCategoryId" (change)="loadFridge()">
      <option [ngValue]="null">All categories</option>
      <option *ngFor="let c of categories" [ngValue]="c.CategoryID">
        {{ c.name }}
      </option>
    </select>
    </div>

    <ul>
      <li *ngFor="let item of fridgeItems">
        {{ item.name }} ({{ item.quantity }} - {{ item.category }})
      </li>
    </ul>
  </div>

</div>
 